.rodape {
    background-color: var(--branco);
    width: 100%;
}

.rodape__texto {
    padding: 1.5rem;
    color: var(--preto);
}

.rodape__container {
    display: none;
}

.rodape__linha {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
    }

    .rodape__texto {
        font-size: 1.5rem;
        width: 180px;
        padding-top: 3.8rem;
    }

    .rodape__container {
        display: block;
        padding-left: 4rem;
        display: flex;
        padding-top: 4rem;
        width: 100dvb;
        gap: 4rem;
    }

    .lista__rodape-link {
        text-decoration: none;
        color: var(--cinza-escuro);
        display: flex;
        align-items: center;
    }

    .lista__rodape-item {
        padding-bottom: 1.5rem;    
    }

    .lista__rodape-link img {
        margin-right: 0.5rem;
    }

    .rodape__educacao-online {
        width: 30%;
    }

}

@media screen and (min-width: 1728px) {
   .rodape {
    display: flex;
    width: 100%;
   }

   .rodape__texto {
    padding-left: 15rem;
   }

   .rodape__container {
    display: flex;
    gap: 5rem;
   }

   .rodape__lista {
    border-left: .5px solid var(--cinza);
    height: 450px;
    width: auto;
    padding: 0 0rem 5rem 1rem;
   }

}